In [ ]:
Character Sequence
->String

In [1]:
#여러개의 문자가 모인 그룹형 변수
s = "Hello World"

In [2]:
print(s)

Hello World

In [3]:
type(s)

str

In [4]:
len(s) #길이를 영어로 length

11

In [5]:
s.upper() #문자열을 모두 대문자로

'HELLO WORLD'

In [7]:
s.lower() #문자열을 소문자로

'hello world'

In [10]:
s

'Hello World'

In [13]:
#format 함수
print("My name is {}".format("Groot"))

My name is Groot

In [14]:
print("My name is {} and {}".format("Groot",20))

My name is Groot and 20

In [15]:
#파이썬 문자열 포매팅
print("My name is {0} and {1}".format("Groot",20))
print("My name is {1} and {0}".format("Groot",20))

My name is Groot and 20
My name is 20 and Groot

In [16]:
print("My age is %d" %20.21213)

# f-string 포매팅 방식 <- 자습하세요ㅋㅋ

My age is 20

In [17]:
#문자열 합치기
print("Hello" + " " + "World!")

Hello World!

In [18]:
temp = "Python"

In [ ]:
#temp[???]

#??? <- index number : str / list / tuple /numpy.array(수치행렬)
#??? <- key : dict / pandas.DataFrame (정형데이터)

In [20]:
temp

'Python'

In [22]:
temp[0] #str이기 때문에 인덱스 번호를 적는다.

'P'

In [24]:
temp[0:4] #i = 0; i < 4; ++i 까지
#~이상 & ~ 미만을 채택하기로 함

'Pyth'

In [26]:
temp[4:] #4이상으로 모두

'on'

In [27]:
temp[:4]

'Pyth'

In [29]:
temp[:] #<- 뭐가 나올까? 전체가 나옵니당

'Python'

In [32]:
temp[-1] #뒤에서 부터 시작

'n'

In [36]:
temp = "Python is easy"
temp.split() #str을 특정한 문자(기본값: 여백)를 기준으로 잘라내어 list로 만들어 준다.

['Python', 'is', 'easy']

In [37]:
temp.split('s')

['Python i', ' ea', 'y']

In [45]:
'214' * 2

'214214'

In [46]:
#자료형 변환, 형 변환, Type cast,Type casting
int('214') * 2

428

In [47]:
#참/거짓(bool)
t = True
f = False

In [50]:
type(t)
#Boolean (불린, 불리언) <- 사람이름
#조지 부울 성함을 가지고 옴

bool

In [55]:
#논리학 and, or, not
print(t and f) 
print(t or f) 
print(not f)

False
True
True

In [57]:
print(t & f)
print(t | f)
#not은 나중에
# Pandas의 필터링 기능 실행 시 기호로 논리 연산자 사용 필수

False
True