In [1]:
import numpy as np
import pandas as pd
from scipy import stats

In [2]:
# 1. Correlation Analysis for Marketing costs & User acquisition (피어슨 상관계수)
# 1. Correlation Analysis for Marketing costs & User acquisition
# 매달 유튜브에 광고 비용을 지출하여 신규 유저(구매 고객 or 회원가입 고객)를 획득
# 아래 ad_df DataFrame과 같이 월별로 10000원 단위의 유튜브 광고 비용과 해당 월에 신규로 획득한 유저 수가 측정

In [14]:
marketing_costs = [352,164,210,425,503,232,321,556,464,578,612,434] # 정형된 유튜브 광고 비용(단위 : 10000원)
user_acquired = [7214,6122,6896,8020,10982,9021,9240,10210,9987,11521,9792,9852] # 단위 : 명
# 마케팅 지출된 금액
# 유저 늘어난 정도 1~12월
ad_df = pd.DataFrame({'Marketing_Costs':marketing_costs,
                     'User_Acquired':user_acquired})
ad_df

    Marketing_Costs  User_Acquired
0               352           7214
1               164           6122
2               210           6896
3               425           8020
4               503          10982
5               232           9021
6               321           9240
7               556          10210
8               464           9987
9               578          11521
10              612           9792
11              434           9852

In [15]:
# 단순 CAC(Customer Acquisition Cost, 신규고객 유치 비용) 계산
cac = ad_df['Marketing_Costs'].sum() / ad_df['User_Acquired'].sum() # 총 마케팅 비용/ 총 신규고객 수
print(cac)
print('1명의 신규 유저를 획득하기 위한 평균적인 유튜브 광고 비용: {:.0f}원'.format(cac*10000)) # .0f : 소수점 0번째 자리까지

0.04456305060767796
1명의 신규 유저를 획득하기 위한 평균적인 유튜브 광고 비용: 446원

In [5]:
# 위의 금액에 추가로 획득하기를 원하는 유저 수를 곱한 금액을 유튜브 광고 비용으로
# 쓰면 그만큼 유저가 늘어날까? 
# == 위의 금액 만큼 유트브 광고에 쓰면 정말로 유저가 1명 늘어날까? 아닐듯!!

In [9]:
ad_df.corr() # DataFrame의 Correlation 함수로는 p-value값까지 파악 불가

                Maketing_Costs  User_Acquired
Maketing_Costs        1.000000       0.803578
User_Acquired         0.803578       1.000000

In [16]:
# Pearson correlation coefficient and  p-value for testing non-correlation

result= stats.pearsonr(ad_df['Marketing_Costs'], ad_df['User_Acquired']) # Pearson's co"r"relation coefficient

print("피어슨 상관계수: ", result[0])
print("p-value: ", result[1])

피어슨 상관계수:  0.8035775069546849
p-value:  0.0016386012345537505

In [17]:
# 위 결과를 보았을 때 p-value가 0.0016 (<0.05) 이므로
# 월별 유튜브 광고 비용과 신규 유저 수가 통계적으로 유의미한 상관관계가 없다(상관계수 == 0)는 전제 하에 이러한 측정 결과가 나올 확률이
# 0.16% 라고 이해한다

In [18]:
# 월별 유튜브 광고 비용과 신규 유저 수 사이에는 통계적으로 유의미한 강한 상관관계(+0.8)가 있다.

In [19]:
# 2. A/B Test for Duration Time (독립표본 t-test)

In [20]:
# 페이지 구성과 세부 디자인을 다르게 만든 2개의 웹사이트 시안을 기반으로 A/B Test 진행
# 웹사이트 시안 A와 B 각각에 유입된 유저들이 실제로 각 웹사이트 내에서 이탈하기 까지의 시간(체류시간, Duratoin time)을 측정
# 아래의 web_a , web_b DataFrame과 같이 각 시안별로 유저들의 체류 시간이 측정 되었다고 가정

In [21]:
web_a = pd.DataFrame([20.5, 12.6, 19.5, 18.8, 13.4, 13.5, 17.5, np.nan, 12.8, 17.8, np.nan, 23.1, 10.6, np.nan, 11.5], 
                     columns=['Duration_A'])
web_b = pd.DataFrame([11.8, 10.7, np.nan, 12.5, np.nan, 14.9, 12.1, 13.9, 10.3, 9.0, 13.3, 12.4, 12.5], 
                     columns=['Duration_B'])
# np.nan = 결측치

In [22]:
pd.concat([web_a, web_b],axis=1) # 합치기

    Duration_A  Duration_B
0         20.5        11.8
1         12.6        10.7
2         19.5         NaN
3         18.8        12.5
4         13.4         NaN
5         13.5        14.9
6         17.5        12.1
7          NaN        13.9
8         12.8        10.3
9         17.8         9.0
10         NaN        13.3
11        23.1        12.4
12        10.6        12.5
13         NaN         NaN
14        11.5         NaN