In [1]:
import numpy as np
import pandas as pd
from scipy import stats

In [2]:
# 1. Correlation Analysis for Marketing costs & User acquisition (피어슨 상관계수)
# 1. Correlation Analysis for Marketing costs & User acquisition
# 매달 유튜브에 광고 비용을 지출하여 신규 유저(구매 고객 or 회원가입 고객)를 획득
# 아래 ad_df DataFrame과 같이 월별로 10000원 단위의 유튜브 광고 비용과 해당 월에 신규로 획득한 유저 수가 측정

In [3]:
marketing_costs = [352,164,210,425,503,232,321,556,464,578,612,434] # 정형된 유튜브 광고 비용(단위 : 10000원)
user_acquired = [7214,6122,6896,8020,10982,9021,9240,10210,9987,11521,9792,9852] # 단위 : 명
# 마케팅 지출된 금액
# 유저 늘어난 정도 1~12월
ad_df = pd.DataFrame({'Maketing_Costs':marketing_costs,
                     'User_Acquired':user_acquired})
ad_df

    Maketing_Costs  User_Acquired
0              352           7214
1              164           6122
2              210           6896
3              425           8020
4              503          10982
5              232           9021
6              321           9240
7              556          10210
8              464           9987
9              578          11521
10             612           9792
11             434           9852

In [4]:
# 단순 CAC(Customer Acquisition Cost, 신규고객 유치 비용) 계산
cac = ad_df['Maketing_Costs'].sum() / ad_df['User_Acquired'].sum() # 총 마케팅 비용/ 총 신규고객 수

print('1명의 신규 유저를 획득하기 위한 평균적인 유튜브 광고 비용: {:.0f}원'.format(cac*10000)) # .0f : 소수점 0번째 자리까지

1명의 신규 유저를 획득하기 위한 평균적인 유튜브 광고 비용: 446원

In [5]:
# 위의 금액에 추가로 획득하기를 원하는 유저 수를 곱한 금액을 유튜브 광고 비용으로
# 쓰면 그만큼 유저가 늘어날까? 
# == 위의 금액 만큼 유트브 광고에 쓰면 정말로 유저가 1명 늘어날까? 아닐듯!!