In [2]:
input() # prompt

안냐세요

'안냐세요'

In [3]:
input('나이를 적어주세용')

나이를 적어주세용22

'22'

In [5]:
age = input("나이")
type(age)

나이22

str

In [6]:
age = int(input("나이를 적어주세요"))
print('나이 x2 는 ', age*2)

나이를 적어주세요22
나이 x2 는  44

In [7]:
age = input() # 아무 내용도 입력하지 않고 enter시 NoneType이 아닌 ''가 리턴
print(type(age))
age

<class 'str'>

''