In [ ]:
딕셔너리 (dict)

In [3]:
cage = {'Cat':'야옹', 'Dog' : '멍멍'} #{key:value}

In [4]:
cage

{'Cat': '야옹', 'Dog': '멍멍'}

In [5]:
cage['Cat'] # key 기반 호출 
# key 값이 없는 경우 에러로 프로그램 종료

'야옹'

In [7]:
cage.get('Cat')
# key 값이 없는 경우 에러 X 프로그램 종료 X

'야옹'

In [12]:
print('Pig' in cage) # key 유무 체크
print('Cat' in cage) # key 유무 체크
#멤버십 체크 연산자

False
True

In [14]:
# Dict 아이템 추가
cage['Pig'] = '꿀꿀'
cage
#동일한 key값인 경우 value update 
#dict는 키 값 중복 X

{'Cat': '야옹', 'Dog': '멍멍', 'Pig': '꿀꿀'}

In [15]:
#삭제
del cage['Pig']
cage

{'Cat': '야옹', 'Dog': '멍멍'}

In [16]:
cage.keys()

dict_keys(['Cat', 'Dog'])

In [18]:
cage.values()

dict_values(['야옹', '멍멍'])

In [26]:
print( ('야옹' in cage.keys()) or ('야옹' in cage.values()))

True

In [27]:
cage.items()

dict_items([('Cat', '야옹'), ('Dog', '멍멍')])

In [ ]:
튜플 (tuple)
값과 크기가 변하지 않음

In [28]:
t = (5, 6)
t

(5, 6)

In [29]:
type(t)

tuple

In [30]:
t[0]

5

In [31]:
# 튜플이 사용되는 예시
def return_tuple(x,y):
    return x, y, x*y, x**y, x/y, x%y

In [32]:
what = return_tuple(3,4)
what

(3, 4, 12, 81, 0.75, 3)

In [ ]:
집합 (Set)
중복 허용 X
교집합, 합집합 등 집합 연산에 유용

In [33]:
s = {1, 2, 3, 3, 4, 5 ,5}
s

{1, 2, 3, 4, 5}

In [34]:
# 리스트에서 중복 제거 하는 법
temp = [1, 2, 3, 4, 4, 3, 3]
temp

[1, 2, 3, 4, 4, 3, 3]

In [36]:
temp2 = list(set(temp))
temp2

[1, 2, 3, 4]