In [3]:
import numpy as np
import pandas as pd
import seaborn as sns

In [5]:
df = pd.read_excel('Report.xls')

In [6]:
df.head(3)

,기간,자치구,합계,합계.1,살인,살인.1,강도,강도.1,강간강제추행,강간강제추행.1,절도,절도.1,폭력,폭력.1
0,기간,자치구,발생,검거,발생,검거,발생,검거,발생,검거,발생,검거,발생,검거
1,2020,합계,92679,66548,141,126,138,132,5763,5458,38293,19705,48344,41127
2,2020,종로구,3102,3343,9,7,7,9,192,855,1183,944,1711,1528

In [8]:
df.loc[1] #행을 꺼낸다.대괄호에 유의 인덱스 열에있는 행에 이름을 대괄호 안에

기간           2020
자치구            합계
합계          92679
합계.1        66548
살인            141
살인.1          126
강도            138
강도.1          132
강간강제추행       5763
강간강제추행.1     5458
절도          38293
절도.1        19705
폭력          48344
폭력.1        41127
Name: 1, dtype: object