In [3]:
import numpy as np
import pandas as pd
import seaborn as sns

In [5]:
df = pd.read_excel('Report.xls')

In [6]:
df.head(3)

,기간,자치구,합계,합계.1,살인,살인.1,강도,강도.1,강간강제추행,강간강제추행.1,절도,절도.1,폭력,폭력.1
0,기간,자치구,발생,검거,발생,검거,발생,검거,발생,검거,발생,검거,발생,검거
1,2020,합계,92679,66548,141,126,138,132,5763,5458,38293,19705,48344,41127
2,2020,종로구,3102,3343,9,7,7,9,192,855,1183,944,1711,1528

In [8]:
df.loc[1] #행을 꺼낸다.대괄호에 유의 인덱스 열에있는 행에 이름을 대괄호 안에

기간           2020
자치구            합계
합계          92679
합계.1        66548
살인            141
살인.1          126
강도            138
강도.1          132
강간강제추행       5763
강간강제추행.1     5458
절도          38293
절도.1        19705
폭력          48344
폭력.1        41127
Name: 1, dtype: object

In [9]:
df.iloc[3:6, 0:3] #열을 name이 아니라 번호로 지정하고 싶다면 (index location)

     기간  자치구    합계
3  2020   중구  3411
4  2020  용산구  2969
5  2020  성동구  2362

In [12]:
df['자치구'] #하나의 열 출력하기

0      자치구
1       합계
2      종로구
3       중구
4      용산구
5      성동구
6      광진구
7     동대문구
8      중랑구
9      성북구
10     강북구
11     도봉구
12     노원구
13     은평구
14    서대문구
15     마포구
16     양천구
17     강서구
18     구로구
19     금천구
20    영등포구
21     동작구
22     관악구
23     서초구
24     강남구
25     송파구
26     강동구
Name: 자치구, dtype: object

In [13]:
df["자치구"].str.contains("북") #문자열.포함하다.(선택한 열의 문자열에 특정 문자열이 포함되어있는지 체크)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9      True
10     True
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
Name: 자치구, dtype: bool

In [14]:
sum(df["자치구"].str.contains("북"))

2

In [15]:
# 데이터 프레임 필터링
df[ df["자치구"].str.contains("북")] #선택한 열의 문자열에 특정 문자열이 있는것만 출력

,기간,자치구,합계,합계.1,살인,살인.1,강도,강도.1,강간강제추행,강간강제추행.1,절도,절도.1,폭력,폭력.1
9,2020,성북구,2567,1947,4,4,3,2,142,121,988,580,1430,1240
10,2020,강북구,2770,2259,9,8,5,4,159,132,780,490,1817,1625