In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore") # 불필요한 Warning 메세지를 끔

%matplotlib inline

In [3]:
# EDA
# Exploratory Data Analysis
# 탐색적 데이터 분석
# 값들 조정, 결측치, 이상치

In [5]:
df = pd.read_csv('cosmetics_.csv')
df.head()

,gender,marriage,edu,job,mincome,aware,count,amount,decision,propensity,skin,promo,location,satisf_b,satisf_i,satisf_al,repurchase
0,1,1,4,1,2,2,1,11000,2,1,1,1,2,5,2,2,2
1,2,1,4,9,2,1,4,30000,1,1,3,2,3,2,3,3,4
2,2,2,4,4,3,1,6,100000,3,2,3,2,2,4,5,4,4
3,2,2,4,7,5,2,6,65000,3,2,5,2,3,3,4,4,4
4,1,2,6,6,5,2,2,50000,2,2,3,2,3,3,3,3,3

In [6]:
df['gender'] = df['gender'].replace([1,2], ['male', 'female']) #교체하다
df.head()

,gender,marriage,edu,job,mincome,aware,count,amount,decision,propensity,skin,promo,location,satisf_b,satisf_i,satisf_al,repurchase
0,male,1,4,1,2,2,1,11000,2,1,1,1,2,5,2,2,2
1,female,1,4,9,2,1,4,30000,1,1,3,2,3,2,3,3,4
2,female,2,4,4,3,1,6,100000,3,2,3,2,2,4,5,4,4
3,female,2,4,7,5,2,6,65000,3,2,5,2,3,3,4,4,4
4,male,2,6,6,5,2,2,50000,2,2,3,2,3,3,3,3,3

In [7]:
df['gender'].value_counts()

male      132
female    115
Name: gender, dtype: int64